<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Genesys.Bayeux.Client">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net.Http">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets" tracemode="protocolonly" maxdatasize="1024">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
      <source name="System.Net.WebSockets">
        <listeners>
          <add name="Console"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Genesys.Bayeux.Client" value="Verbose"/>

      <!-- Set to Verbose for seeing HTTP request contents, and complete HTTP request headers (including cookies) -->
      <add name="System.Net" value="Off"/>

      <add name="System.Net.Http" value="Off"/>
      <add name="System.Net.Cache" value="Off"/>
      <add name="System.Net.Sockets" value="Off"/>
      <add name="System.Net.WebSockets" value="Off"/>
    </switches>
    <sharedListeners>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime"/>
      <!-- traceOutputOptions="Timestamp,Callstack,DateTime,LogicalOperationStack,ProcessId,ThreadId" -->
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
